<user-navbar></user-navbar>

<div class="container" ng-init="init()">



  <div class="text-center" ng-show="isLoading">
    <uib-progress>
      <uib-bar value="100" type="info" class="progress-striped active">
        <span>Loading car details...</span>
      </uib-bar>
    </uib-progress>
    <h4><i class="fa fa-spinner fa-spin"></i> Loading car details...</h4>
  </div>




  <div ng-hide="isLoading">


    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-car"></i> {{ car.name }}
          <span class="pull-right">
            <i class="fa fa-map-marker"></i> {{ car.city }}
          </span>
        </h3>
      </div>
    </div>


    
    <div class="row">



      <div class="col-md-8">
        <div class="panel panel-default">


          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-info-circle"></i> Car Details</h3>
          </div>



          <div class="panel-body">
            <div class="row">
              <div class="col-md-5 text-center">
                <img ng-src="{{ car.image }}" alt="Car Image" class="img-thumbnail img-responsive" style="max-height: 250px;">
                
                <div class="well margin-top-10">
                  <strong><i class="fa fa-tint"></i> Fuel Type:</strong> {{ car.fuelType }}
                  <br>
                  <strong><i class="fa fa-tag"></i> Category:</strong> {{ car.category }}
                </div>
              </div>
              
              <div class="col-md-7">
                <div class="alert alert-info">
                  <div class="row">
                    <div class="col-xs-4">
                      <h4><i class="fa fa-inr"></i> Base Price</h4>
                      <h3>{{ car.basePrice | currency:"₹" }}</h3>
                    </div>
                    <div class="col-xs-4">
                      <h4>Outstaion Price</h4>
                      <h3>{{ car.outStationCharges | currency:"₹" }}</h3>
                    </div>
                    <div class="col-xs-4">
                      <h4><i class="fa fa-road"></i> Price per km</h4>
                      <h3>{{ car.pricePerKm | currency:"₹" }}</h3>
                    </div>
                  </div>
                </div>
                
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-star"></i> Features</h4>
                  </div>
                  <ul class="list-group">
                    <li class="list-group-item" ng-repeat="feature in car.features">
                      <i class="fa fa-check text-success"></i> {{ feature }}
                    </li>
                  </ul>
                </div>

                <div class="well">
                  <h4><i class="fa fa-dashboard"></i> Kilometers Travelled</h4>
                  <uib-progressbar value="car.travelled" max="100000" type="success" class="progress-striped">
                    <span style="color: black;">{{ car.travelled }}Kms </span>
                  </uib-progressbar>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-calendar"></i> Book This Car</h3>
          </div>
          <div class="panel-body">
            <form name="carForm" novalidate>
           
              <div class="form-group" ng-class="{'has-error': carForm.startDate.$invalid && carForm.startDate.$touched}">
                <label class="control-label">Start Date:</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  <input
                    type="date"
                    id="startDate"
                    name="startDate"
                    class="form-control"
                    ng-model="car.startDate"
                    min="{{today | date:'yyyy-MM-dd'}}"
                    required
                    uib-tooltip="Select your pickup date"
                    tooltip-placement="top"
                  />
                </div>
                <div class="help-block text-danger" ng-show="carForm.startDate.$invalid && carForm.startDate.$touched">
                  Please select a valid start date
                </div>
              </div>
              
              <div class="form-group" ng-class="{'has-error': carForm.endDate.$invalid && carForm.endDate.$touched}">
                <label class="control-label"> End Date:</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  <input
                    type="date"
                    id="endDate"
                    name="endDate"
                    class="form-control"
                    ng-model="car.endDate"
                    ng-attr-min="{{minEndDate}}"
                    required
                    uib-tooltip="Select your return date"
                    tooltip-placement="top"
                  />
                </div>
                <div class="help-block text-danger" ng-show="carForm.endDate.$invalid && carForm.endDate.$touched">
                  Please select a valid end date
                </div>
              </div>
              
            
              <div class="well well-sm text-center" ng-show="car.startDate && car.endDate">
                <h4>Bidding Summary</h4>
                <p>
                  <strong>Duration:</strong> {{calculateDays()}} days<br>
                  <strong>Est. Cost:</strong> {{calculatePrice() | currency:"₹"}}
                </p>
              </div>
              
         
              <div class="text-center">
                <button
                  type="submit"
                  class="btn btn-success btn-lg"
                  ng-click="checkAvailability()"
                  ng-disabled="carForm.$invalid"
                >
                  <i class="fa fa-check-circle"></i> Bid Now
                </button>
              </div>

        
              <div class="text-center" style="margin-top: 15px;">
                <button 
                  type="button"
                  class="btn btn-info"
                  ng-click="chat(car.owner.firstName,car.owner.id,car)"
                  uib-tooltip="Chat with the car owner"
                  tooltip-placement="bottom"
                >
                  <i class="fa fa-comments"></i> Chat with Owner
                </button>
              </div>
            </form>
          </div>
        </div>
        

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-user"></i> Car Owner</h3>
          </div>
          <div class="panel-body text-center">
            <img ng-src="assets\img\default.png" class="img-circle" alt="Owner" style="max-width: 100px;">
            <h4>{{car.owner.firstName}} {{car.owner.lastName}}</h4>
            <h6>{{car.owner.phone}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
